.alarm_container {
    margin-bottom: 6rem;
}

.alarms {
    display: flex;
    background-color: #F1F1F1;
    border-radius: 1.5em;
    padding: 0.5em;
    margin: .5em;
    width: auto;
    height: fit-content;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.alarms * {
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 0px;
}

.alarm_time {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
}

.alarm_time * {
    width: auto;
    height: auto;
}

.alarm_days {
    display: flex;
}


.alarm_day {
    font-size: 0.8em;
    background-color: #0d6efd;
    border-radius: 50%;
    padding: 0.2em;
    width: 1em;
    height: 1em;
    color: white;
    margin-left: .1rem;
}

.inner_container {
    margin: auto;
}

/* .departure_time {
    
} */

.inner_container_top {
    font-weight: bold;
    display: flex;
    font-size: 1.2em;
}

.departrue_adress {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.arrive_adress {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.alarm_checkbox {
    z-index:1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    margin: auto;
    margin-left: 2em;
    margin-right: 2em;
    
    appearance: none;
    position: relative;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
    background-color: lightgray;
    border-color: lightgray;
}

.alarm_checkbox:checked::before {
    background-color: white;
    left: 1em;
  }
.alarm_checkbox:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.alarm_checkbox::before {
    
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: white;
    transition: left 250ms linear;
}

.control {
    position: fixed;
    appearance: none;
    padding: 1.5rem;
    background-color:royalblue;
    border-radius: 50%;
    margin: 0px;
    bottom: 0px;
    right: 0px;
    background-image: url('./images/plus.png');
    background-size: cover;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.alarm_buttons > * {
    display: none;
    position: fixed;
    padding: 1.5rem;
    border-radius: 50%;
    bottom: 0px;
    right: 0px;
    margin-right: 1.5rem;
}

.create_alarm{
    background-image: url('./images/plus.png');
    background-size: contain;
    background-color: green;
    margin-bottom: 8.5rem; 
}

.edit_alarm{
    background-image: url('./images/delete.png');
    background-size: contain;
    background-color: #F4B400;
    margin-bottom: 5rem; 
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(225deg);
      background-color: #DB4437;
    }
}

@keyframes reverserotate {
    0% {
      transform: rotate(225deg);
    }
    100% {
      transform: rotate(0deg);
      background-color: royalblue;
    }
}

/* .control:not(:checked) {
  animation-name: reverserotate;
  animation-duration: 0.7s;
  transform: rotate(45deg);
  
} */

/* 
.control:checked {
    animation-name: rotate;
    animation-duration: 0.7s;
    transform: rotate(45deg);
    background-color: #DB4437;
}  

.control::before {
    animation-name: reverserotate;
    animation-duration: 0.7s;
    transform: rotate(0deg);
    background-color: royalblue;
    /* transform: rotate(0deg);
 
    transition: left 700ms linear; */





.control::before {
    background-color: royalblue;
    transition: left 250ms linear;
}

.control:checked::before {
    animation-name: reverserotate;
    animation-duration: 1000ms;
    background-color: royalblue;
}

.control:checked {
    animation-name: rotate;
    animation-duration: 1000ms;
    background-color:#DB4437;
    transform: rotate(45deg);
}

