body {
    margin: 0px;
}

.header_background {
    background-color: gray;
}

.headerTop {
    width: auto;
    display: flex;
}

.statusbar {
    display: inline-flex;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    flex: 1;
}

.login_button {
    display: inline-flex;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: auto;
    flex: none;
}